{% set classes = classes ~ ' col-xs-6 square' %}
<article class="{{ classes }}"{{ attributes }}>
  {{ title_prefix }}
  <a href="{{ node_url }}">
    <span>
      <h2>
        {% if content.front_square_title %}
          {{ content.front_square_title }}
        {% else %}
          {{ title }}
        {% endif %}
      </h2>
    </span>
  </a>
  {{ title_suffix }}
</article>