<section class="{{ classes }} clearfix"{{ attributes }}>
  {{ title_prefix }}
  <h1>
    <a href="{{ node_url }}">{{ title }}</a>
  </h1>
  <hr/>
  {{ title_suffix }}
  {% block content %}
    {% if content.list_highlight %}
      <div class="row">
        {{ content.list_highlight }}
      </div>
    {% endif %}
  {% endblock %}
</section>