<article class="{{ classes }}"{{ attributes }}>
  {% if content.contact_position %}
    {# latlon are required, so that's OK #}
    <div class="col-sm-6 col-xs-12">
      <h2>Nous situer</h2>
      {{ content.contact_position }}
    </div>
    <div class="col-sm-6 col-xs-12">
  {% else %}
    <div class="col-xs-12">
  {% endif %}
    <h2>Nous contacter</h2>
    <div class="address-highlight">
      {% if content.contact_telephone %}
        <span class="telephone">Tél&nbsp;: {{ content.contact_telephone }}</span>
      {% endif %}
      {% if content.contact_address %}
        {{ content.contact_address }}
      {% endif %}
    </div>
  </div>
</article>