<section class="{{ classes }}"{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if content.list_type %}
      <div class="row">
        {{ content.list_type }}
      </div>
    {% endif %}
  {% endblock %}
</section>