<section class="{{ classes }}"{{ attributes }}>
  {{ title_prefix }}
  <h1 class="sr-only">
    <a href="{{ node_url }}">{{ title }}</a>
  </h1>
  <hr/>
  {{ title_suffix }}
  {% block content %}
    {% if content.list_type %}
      <div class="container-fluid">
        <div class="row">
          {{ content.list_type }}
        </div>
      </div>
    {% endif %}
  {% endblock %}
</section>