{% set classes = classes ~ ' col-md-6 teaser-list' %}
<section class="{{ classes }}"{{ attributes }}>
  {{ title_prefix }}
  <h1>
    <a href="{{ node_url }}">{{ title }}</a>
  </h1>
  {{ title_suffix }}
  <hr/>
  {% block content %}
    {% if content.autolist_list %}
      {{ content.autolist_list }}
    {% endif %}
  {% endblock %}
</section>