<article class="{{ classes }}"{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    {% block title_tag %}
      <h1>
        <a href="{{ node_url }}">{{ title }}</a>
      </h1>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content|without(['body','links','comments']) }}
  {% endblock %}
</article>