<article class="{{ classes }}"{{ attributes }}>
  {{ title_prefix }}
  {% block title_tag %}
    <h1>
      {% if page %}
        {{ title }}
      {% else %}
        <a href="{{ node_url }}">{{ title }}</a>
      {% endif %}
    </h1>
  {% endblock %}
  {{ title_suffix }}
  {% block content %}
    {{ content|without(['body','links','comments']) }}
  {% endblock %}
</article>