<article class="{{ classes }}"{{ attributes }}>
  <header>
    {{ title_prefix }}
    <h1>{{ title }}</h1>
    {{ title_suffix }}
    {% if display_authoring %}
      <p class="authoring">
        <em>
          <span class="author">{{ "Écrit par @name"|trans({'@name': content_author}) }}</span>,
          <span class="date">{{ "dernière mise à jour le @date"|trans({'@date': content_date|date('F Y')}) }}</span>
        </em>
      </p>
    {% endif %}
  </header>
  {{ content|without(['body','links','comments', 'page_image', 'news_image', 'biblio', 'content_author', 'content_date']) }}
  {% if menu_children %}{{ menu_children }}{% endif %}
  {% if content.biblio %}
    <div class="biblio">
      <h2>{{ "Références bibliographiques"|trans }}</h2>
      {{ content.biblio }}
    </div>
  {% endif %}
</article>