<article class="{{ classes }}"{{ attributes }}>
  <header>
    {{ title_prefix }}
    <h1>{{ title }}</h1>
    {{ title_suffix }}
    {% if display_authoring %}
      {% spaceless %}
        <p class="authoring">
          <em>
            {% if content_author %}
              <span class="author">{{ "Écrit par @name"|trans({'@name': content_author}) }}</span>,
              <span class="date">{{ "mis à jour le @date"|trans({'@date': content_date|date('F Y')}) }}</span>
            {% else %}
              <span class="date">{{ "Mis à jour le @date"|trans({'@date': content_date|date('F Y')}) }}</span>
            {% endif %}
          </em>
        </p>
      {% endspaceless %}
    {% endif %}
  </header>
  {{ content|without(['body','links','comments', 'page_image', 'news_image', 'biblio', 'content_author', 'content_date']) }}
  {% if menu_children %}{{ menu_children }}{% endif %}
  {% if content.biblio %}
    <div class="biblio">
      <h2>{{ "Références bibliographiques"|trans }}</h2>
      {{ content.biblio }}
    </div>
  {% endif %}
</article>