<article class="{{ classes }}"{{ attributes }}>
  <div id="node-page-header" class="table-div">
    <div>
      {% if content.page_image or content.news_image %}
        <div class="media">
          {% if content.page_image %}
            {{ content.page_image }}
          {% endif %}
          {% if content.news_image %}
            {{ content.news_image }}
          {% endif %}
        </div>
      {% endif %}
      <div>
        {{ title_prefix }}
        <h1>{{ title }}</h1>
        {{ title_suffix }}
      </div>
    </div>
  </div>
  {{ content|without(['body','links','comments', 'page_image', 'news_image']) }}
  {% if menu_children %}{{ menu_children }}{% endif %}
</article>