{% import 'theme:vetbase:templates/node/search.html.twig' as search %}
<div id="page">
  <div id="header" class="container-fluid">
    <div class="container">
      <div class="table-div">
        <div>
          <div class="middle">
            {% if page.header %}
              {{ page.header }}
            {% endif %}
          </div>
          <div class="middle">
            {% if site_name %}
              <h1>{{ site_name }}</h1>
            {% endif %}
            <p><blockquote>Au plus proche de vos compagnons</blockquote></p>
          </div>
          <div class="middle">
            {% if search_url %}
              {{ search.search_form(search_url) }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if menu %}
    {{ menu }}
  {% endif %}
  {% if page.banner %}
    <div id="banner">
      {{ banner }}
    </div>
  {% endif %}
  <div class="container">
    {% if breadcrumb %}
      <div class="row">
        <div class="col-md-12">
          {{ breadcrumb }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      {% if page.left or menu_siblings %}
        <div id="sidebar" class="col-md-4">
          {% if menu_siblings %}
            {{ menu_siblings }}
          {% endif %}
          {% if page.left %}
            {{ page.left }}
          {% endif %}
        </div>
        <div id="content" class="col-md-8">
          <a id="main-content" title="{{ "Main content"|trans }}"></a>
          {% if page.content %}
            {{ page.content }}
          {% endif %}
        </div>
      {% else %}
        <div id="main" class="col-md-12">
          <a id="main-content" title="{{ "Main content"|trans }}"></a>
          {% if page.content %}
            {{ page.content }}
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if menu_children %}{{ menu_children }}{% endif %}
  </div>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
            {% for name in ['footer1', 'footer2', 'footer3', 'footer4'] %}
              {# always reserve space even if empty #}
              <div id="{{ name }}" class="col-md-3">
                {% if page[name] %}
                  {{ page[name] }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>