{% import 'theme:vetbase:templates/node/search.html.twig' as search %}
<div id="page">
  <div id="header" class="container-fluid{% if not isFrontPage %} sub-page{% endif %}">
    <div class="container">
      <div class="col-md-9 col-sm-8 col-xs-12">
        {% if page.header %}
          {{ page.header }}
        {% endif %}
        {% if site_name %}
          <h1><a href="{{ url('<front>') }}">{{ site_name }}</a></h1>
        {% endif %}
        {% if isFrontPage %}
          <p>Au plus proche de vos compagnons</p>
        {% endif %}
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        {% if search_url %}
          {{ search.search_form(search_url) }}
        {% endif %}
      </div>
    </div>
  </div>
  {% if menu %}
    {{ menu }}
  {% endif %}
  {% if page.banner %}
    <div id="banner">
      {{ page.banner }}
    </div>
  {% endif %}
  {% if isFrontPage %}
    {% if page.front1 %}
      <div id="front1" class="front-pane container-fluid">
        <div class="container">
          {{ page.front1 }}
        </div>
      </div>
    {% endif %}
    {% if page.front2 %}
      <div id="front2" class="front-pane container-fluid">
        <div class="container">
          {{ page.front2 }}
        </div>
      </div>
    {% endif %}
    {% if page.front3 %}
      <div id="front3" class="front-pane container-fluid">
        <div class="container">
          {{ page.front3 }}
        </div>
      </div>
    {% endif %}
    {% if page.front4 %}
      <div id="front4" class="front-pane container-fluid">
        <div class="container">
          {{ page.front4 }}
        </div>
      </div>
    {% endif %}
  {% else %}
    {% if breadcrumb %}
      <div id="breadcrumb" class="container-fluid">
        <div class="container">
          {{ breadcrumb }}
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="row" id="main-wrapper">
      {# {% if page.left or menu_siblings %} #}
      {% if page.left or menu_navigation %}
          <div id="sidebar" class="col-md-4">
            {% if menu_navigation %}
              {{ menu_navigation }}
            {% endif %}
            {% if page.left %}
              {{ page.left }}
            {% endif %}
          </div>
          <div id="content" class="col-md-8">
            <a id="main-content" title="{{ "Main content"|trans }}"></a>
            {% if page.content %}
              {{ page.content }}
            {% endif %}
            {# {% if menu_children %}{{ menu_children }}{% endif %} #}
          </div>
        {% else %}
          <div id="main" class="col-md-12">
            <a id="main-content" title="{{ "Main content"|trans }}"></a>
            {% if page.content %}
              {{ page.content }}
            {% endif %}
            {# {% if menu_children %}{{ menu_children }}{% endif %} #}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
            {% for name in ['footer1', 'footer2', 'footer3', 'footer4'] %}
              {# always reserve space even if empty #}
              <div id="{{ name }}" class="col-md-3">
                {% if page[name] %}
                  {{ page[name] }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>