{# This template does not care about children and recursion #}
{% if tree.children %}
  <ul class="nav navbar-nav navbar-right">
    {% for item in tree.children %}
      {% if current == item.nodeId %}
        <li class="active">
          <a href="{{ url(item.route) }}">{{ item.title }}</a>{{ umenu.tree(item, current) }}
        </li>
      {% else %}
        <li>
          <a href="{{ url(item.route) }}">{{ item.title }}</a>{{ umenu.tree(item, current) }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}