<nav id="menu-siblings">
  <ul>
    {% for item in tree.children %}
      {% if current == item.nodeId %}
        <li class="active">
          <a href="{{ url(item.route) }}">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            {{ item.title }}
            <span class="sr-only">({{ "current"|trans }})</span>
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ url(item.route) }}">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            {{ item.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>